*{
  font-family: "Lucida Console"
}

body {
    background-color: #001f3f;
    margin: 5%;
    color: orange;
}

.text-div {
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}

#timer {
    font-size: 25px;
}

.timer-div {
    text-align: right;
}

.title-div {
    text-align: center;
}

.title-label {
    font-size: 35px;
}

.label-select-range {
   font-size: 25px;
}

.container {
    height: 800px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-rainfall-sum {
  white-space: pre-wrap
}

#daily-rainfall-slider {
   font-size: 35px;
}
