* {
    font-family: "Lucida Console"
}

body {
    background-color: #5D5C61;
    margin: 3%;
    color: white;
    text-align: center;
}

#root-div-welcome {
    opacity:0.8;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background: url('DSC_4686.JPG');
    background-size: cover;
}

#label-timer-daily-page, #label-timer-home-page, #label-timer-monthly-page, #label-timer-yearly-page {
    text-align: right;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}
#label-timer-home-page {
    color: black;
}


#div-warning-daily, #div-warning-month, #div-warning-year  {
    font-size: 40px;
    margin-top: 75px;
    display: block;
}

#label-select-range-title {
    display: block;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 20px;
}

#div-slider-daily, #div-slider-month, #div-slider-year  {
    text-align: left;
    position: center;
    margin: 0 auto;
    width: 50%;
    font-size: 30px;
    margin-bottom: 75px;
}

#div-navigation {
  background-color: #333;
  overflow: hidden;
  margin: 3%;
}

#div-navigation #home{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#div-navigation #home:hover {
  background-color: #ddd;
  color: black;
}

#div-navigation #home.active {
  background-color: #04AA6D;
  color: white;
}

#div-welcome {
    position: adjacent;
    font-size: 40px;
    background-color: #333;
    margin: 3%;
    padding: 14px 16px;
}

#div-bar-chart-daily, #div-bar-chart-month, #div-bar-chart-year {
    margin-bottom: 60px;
}
